*{
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    height: 100%;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.search-bar{
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* height: 6%; */
    justify-content: space-between;
}

.logo {
    height: 20px;
    margin-left: 8%; 
}

.input {
    border: 0;
    background: #e6e6e6;
    justify-content: center;
    padding: 2%;
}

.icon {
    height: 30px;
    margin-right: 10%;
}

.icons-container {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}
.videoimage-container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.video-container {
    width: 55%;
    margin-left: 8%;
    margin-top: 2%;
    margin-right: 3%;
}

.video-title {
    margin: 2% 0;
}

.video-container iframe{
    width: 100%;
    height: 40%;
}

.images-container {
    display: inline;
    flex-direction: row;
    margin-top: 2%;
    width: 40%;
}

.video-description {
    width: 100%;
}

.view-count {
    width: 100%;
}
.img-text {
    font-size: 16px;
    margin-left: 2%;
}

.img-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2%;
}

.min-img {
    min-width: 35%;
    max-width: 35%;
}

.spacer-bar {
    margin: 2% 0;
    color: #f2f2f2
}

.description-text {
    margin: 2% 0;
    font-size: 14px
}